body{
    background-color: rgb(57,57,57);
}
.youtube{
    height:100vh;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    background-color: rgb(57,57,57);
}
.searchbar{
    height: 56px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(57, 57, 57);
    display: flex;
}
.menu{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    justify-content: start;

}
.menu>span{
    padding: 0 0.5rem;
    padding-right: 1rem;
}
.menu span+i{
    font-size: 2rem;
}
#sup{
    font-size: 0.6rem;
}
.search{
    width: 50%;
    height: 100%;
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    color: white;
    justify-content: center;
    overflow: hidden;
    overflow-x: hidden;
}
input{
    width: 80%;
    padding: 0.5rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-radius: none;
    font-size: 1rem;
    border: 2px solid grey;
    background-color: rgb(57, 57, 57);
}
.search input+i{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid grey;
    border-left: none;
    padding: 0.5rem;
    background-color: rgb(106, 106, 106);
}
.profile{
    width: 25%;
    height: 100%;
    display: flex;
    font-size: 1rem;
    align-items: center;
    color: white;
    justify-content: end;
    
}
.profile i{
 padding-right: 1.2rem;
}
.sidebar{
    width: 240px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 56px;
    background-color: rgb(149, 0, 255);
    overflow: auto;
    overflow-x:hidden ;
    display: flex;
    flex-direction: column;
}
.section1{
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 240px;
    background-color: rgb(57, 57, 57);
    padding: 1rem;
 
}
.home,.shorts,.subscription{
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: white;
    padding-top: 1rem;

}
.home i,.shorts i,.subscription span{
    padding-right: 1rem;
}
.subscription{
    padding-bottom:1.5rem;
    }

.line{
    display: flex;
    font-size: 1rem;
    color: white;
    padding: 0.8rem 1rem;
    border-top: 1px solid white;

}
.section2{
    width: 240px;
    height: 290px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1rem;
    padding: 0 1rem;
    background-color: rgb(57, 57, 57);

}
.you,.yourchannel,.history,.playlist,.yourvideos,.watchlater,.likedvideos{
    display: flex;
    align-items: center;
    padding-top: 0.8rem;
}
.you{
    padding-top: 0;
}
.likedvideos{ 
    padding-bottom: 1.5rem;

}
.you span,.yourchannel span,.history span,.playlist span,.yourvideos span,.watchlater span,.likedvideos span{
    padding-right: 0.5rem;
}

.section3{
    display: flex;
    flex-direction: column;
    height: 323px;
    width: 240px;
    color: white;
    font-size: 1rem;
    padding: 0 1rem;
    background-color: rgb(57, 57, 57);
}
.one,.two,.three,.four,.five,.six,.seven,.eight{
    display: flex;
    align-items: center;
   padding-top: 0.8rem;
}
.one{
    padding-top: 0;
}
.eight{
    padding-bottom: 1.5rem;
}
.one span,.two span,.three span,.four span,.five span,.six span,.seven span,.eight span{
    padding-right: 0.5rem;
}
.section4{
    height: 290px;
    width: 240px;
    font-size: 1rem;
    color: white;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(57, 57, 57);
}
.f1,.f2,.f3,.f4,.f5,.f6,.f7{
    display: flex;
    padding-top: 0.8rem;
    align-items: center;
}
.f2 span,.f3 span,.f4 span,.f5 span,.f6 span,.f7 span{
    padding-right: 0.5rem;
}
.f1{
    padding-top: 0;
}
.f7{
    padding-bottom: 1.5rem;
}
.section5{
    height: 210px;
    width: 240px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1rem;
    padding: 0 1rem;
    background-color:rgb(57,57,57) ;
}
.fv1,.fv2,.fv3,.fv4,.fv5{
    display: flex;
    padding-top: 0.8rem;
    align-items:center;
}
.fv1 i,.fv2 i,.fv3 i,.fv4 i,.fv5 i{
    padding-right: 0.5rem;
}
.fv1{
    padding-top: 0;
}
.fv5{
    padding-bottom: 1.5rem;
}
.section6{
    height: 160px;
    width: 240px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: white;
    padding: 0 1rem;
    background-color:   rgb(57,57,57) ;
}
.settings,.report,.help,.feedback{
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
}
.settings span,.report span,.help span,.feedback span{
    padding-right: 0.5rem;
}
.settings{
    padding-top: 0;
}
.feedback{
    padding-bottom: 1.5rem;
}
.section7{
    height: 200px;
    width: 240px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 1rem;
    background-color: rgb(57,57,57);

}
.se1,.se2,.se3,.se4,.se5,.se6,.se7{
    display: flex;
    align-items: center;
}
.se4,.se7{
    padding-top: 0.4rem;
}
.se7{
    font-size: 0.8rem;
}
.se7 span{
    font-size: 0.8rem;
}
.watched{
    height: 56px;
    width: 1278px;
    position: absolute;
    top: 56px;
    left: 240px;
    overflow-x: hidden;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: rgb(57,57,57);
}
.w1,.w2,.w3,.w4,.w5,.w6,.w7,.w8,.w9,.w10,.w11,.w12,.w13{
    border-radius: 10px;
    height: 30px;
    display: flex;
   align-items: center;
   padding: 0 0.6rem;
   background-color:rgb(88, 88, 88);
 
}
.w1{
    padding-left: 0.1rem;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.main{
    width: 1248px;
    position: absolute;
    top: 112px;
    left: 240px;
    height: 80%;
    background-color: yellow;
    overflow: auto;
    overflow-x: hidden;
    padding: 1rem 1rem;
    background-color: rgb(57,57,57);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.m01{
    height: 293px;
    width: 375px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(57,57,57);
    color: white;
}
.m1 img{
    height: 193px;
    width: 375px;
    border-radius: 10px;

}
.story1{
    display: flex;
    align-items: center;
}
.story1,.story2{
    padding-top: 0.2rem;
}
.story1 span{
    padding-right: 0.5rem;
}
